/* CSS Document */

body {
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

header {
	width:960px;
	background:#f90;
	height:150px;
}

nav {
	width:960px;
	background:#1C33E9;
	height:40px;
	text-align: center;
	font-family:Verdana, Arial, sans-serif;
}

/* Regra para reset geral da lista */
nav ul {
	margin: 0; padding:0;
	list-style-type:none;
}

/* Regra para posicionamento horizontal */
nav li { display: inline; }

/* Regra para links de navegação */
nav a:link, nav a:visited {
	color: white;
	text-decoration: none;
	font-weight: bold;
	line-height: 40px;
	display: inline-block;

	/*padding-left: 30px;
	padding-right: 30px;*/
	
	width: 192px;
	transition: 5s;
}

/* Regra para o acionamento dos links 
:hover
Pseudo-classe do estado "passar o mouse"

:focus
Pseudo-classe do estado "ao entrar em foco"
*/
nav a:hover, nav a:focus {
	background-color: black;
	color: yellow;
	transition: 2s;
	/*transform: rotate(360deg);*/
	transform: translateY(-10px);
}

main {
	background:#F30;
	height:350px;
	width:750px;
	margin: 10px 10px 10px 0;
	float: left;
}


aside {
	background:#090;
	height:350px;
	width:200px;
	margin: 10px 0 10px 0;
	float: right;
}


footer {
	background-color:#60F;
	height:60px;
	clear: both;
}


















